body{
    background-color: white;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

#nav {
    background-color: #F7F7F7; ;
}

.navbar-nav {
    padding-top: 40px;
    padding-left: 150px;
}

#menu {
    justify-content: flex-end;
}

#menu ul li a:visited {
    color: #2196f3;
}

#menu ul li a{
    float: left; text-decoration: none;
    color: #2196f3;
    padding: 10.5px 11px;
    background-color: #F7F7F7; 
    border-radius: 5px 5px 5px 5px;
}

#menu ul li a:visited{
    color: white;}

#menu ul li a:hover, .menu ul li .current
{
    color: #fff;
    background-color: #2196f3;
}

#globo {
    background-color: transparent;
}


.container {
    background-color: white;
}

#logo {
    float: left;
    margin-right: 180px;
}

#covid-advise {
    background-color: #ececec;
}


#destaque {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer {
    color: white;
    padding-top: 50px;;
    background-color: darkgray;
}
