body{
    background-color: white;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

#nav {
    background-color: #F7F7F7; 
    justify-content: flex-end;
}

a.nav-link {
    background-color: #2196f3;
}

.navbar-nav {
    
    padding-top: 40px;
    padding-left: 150px;
}

#nav ul li a:visited {
    color: #2196f3;
    
}

#nav ul li a{
    float: left; text-decoration: none;
    color: #2196f3;
    padding: 10.5px 11px;
    background-color: #F7F7F7; 
    border-radius: 5px 5px 5px 5px;
}

#nav ul li a:hover, .menu ul li .current
{
    color: #fff;
    background-color: #2196f3;
    text-decoration: none;
}

#globo {
    background-color: transparent;
    border: transparent;
}


.container {
    background-color: white;
}

#logo {
    float: left;
    margin-right: 180px;
}

#covid-advise {
    background-color: #ececec;
}

#footer {
    color: white;
    padding-top: 50px;;
    background-color: darkgray;
}